:root {
    --navy: #001e44;
    --dark-navy: #262c3a;
    --blue: #1e407c;

    --creek: #3ea39e;
    --slate: #314e64;

    --bg-light-dark: #e8e8e8;
    --bg-light-dim: #f5f5f5;
    --bg-light-bright: #ffffff;
}

@font-face {
    font-family: Metropolis;
    src: url("Metropolis-Regular.woff2");
}

body {
    margin: 0;
    font-family: Metropolis, serif;
}

#navbar {
    width: 100%;
    overflow: hidden;
    background-color: var(--navy);
}

#navbar a {
    float: left;
    font-size: 16px;
    color: var(--bg-light-bright);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--bg-light-bright);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--blue);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#project_bar {
    width: calc(90vw + 2rem);
    height: 2rem;
    display: flex;
    align-items: center;
}
#student_bar {
    width: calc(90vw + 2rem);
    height: 2rem;
    display: flex;
    align-items: center;
}
.bar_element {
    height: 100%;
    display: flex;
    align-items: center;
    background: green;
    text-wrap: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bar_element_text {
    margin-left: 1rem;
}

.dropdown-content {
    display: none !important;
    position: absolute !important;
    background-color: var(--bg-light-bright) !important;
    min-width: 160px !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
    z-index: 1 !important;
}

.dropdown-content a {
    float: none !important;
    color: black !important;
    padding: 12px 16px !important;
    text-decoration: none !important;
    display: block !important;
    text-align: left !important;
}

.dropdown-content a:hover {
    background-color: #ddd !important;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block !important;
}


.cards {
    margin: 0 5vh 5vh;

    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.card-container {
    border-radius: 1rem;
    background-color: var(--bg-light-dim);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 45vw;
    height: 85vh;
    overflow: scroll;
}

#assigned-list {
    margin: 0 1rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.assigned-list-element {
    padding-bottom: 1rem;
    background-color: var(--bg-light-bright);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.project-header {
    cursor: pointer;

    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;

    display: flex;
    justify-content: left;
}
.company-name{
    margin-left: auto;
}

.project-title {
    min-width: 40%;
}

.company-name {
    text-align: right;
    min-width: 40%;
}

.project-content {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.project-assigned-students {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-requirements {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--bg-light-bright);
}

.project-assigned-student-info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--bg-light-dark);
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.project-assigned-student-info-table {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}
.unassigned-student-info-table {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}
.unassigned-student-button {
    background-color: var(--navy);
    color: var(--bg-light-bright);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-size: x-large;
    align-items: center;
    border-radius: 0.5rem;
}

.project-assigned-student-button {
    user-select: none;
    background-color: var(--navy);
    color: var(--bg-light-bright);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-size: x-large;
    align-items: center;
    border-radius: 0.5rem;
}

.project-radio {
    padding: 0;
    margin: 0;

    margin-right: 1rem;
}


@keyframes outline-checked {
    0% {
        outline-offset: 0;
    }

    100% {
        outline-offset: -0.2rem;
    }
}

#unassigned-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.unassigned-student-info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--bg-light-dark);
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.project-major-preferences th,
.project-special-requirements th,
.project-assigned-student-name-major th,
.project-assigned-student-requirements th {
    text-align: left;
}

.card_title {
    background-color: var(--navy);
    color: var(--bg-light-bright);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: x-large;
}