.main-cards{
    margin: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

body {
    max-width: 100%;
    overflow-y:hidden;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    align-content: center;
    margin: 0%;
}

/* Style the navigation bar */
.navbar {
    overflow: hidden;
    background-color: #001E44;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Add a hover effect to the links */
.navbar a:hover {
    color: #009CDE;
}

/* Add a selected tab effect to the links */
.navbar a.active {
    background-color: whitesmoke;
    color: #009CDE;
}

/* Style the navigation bar for small screens */
@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
    }
    .navbar a.active {
        background-color: whitesmoke;
        color: #009CDE;
    }
}

:root {
    --circle-foreground: #1e407c;
    --circle-background: #c3d5e2;
}
.circle {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: var(--circle-background);
    overflow: hidden;
}
.circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 115px;
    height: 115px;
    background: white;
    border-radius: 50%;
    font-size: x-large;
    font-weight: 1000;
    color:#001E44;
}

a {
    text-decoration: none;
    color: inherit;
}
a:visited{
    text-decoration: inherit;
    color: inherit;
}

.content{
    margin-top: 30px;
    width: 100%;
    background-color: white;
    display: flex;
}

.active{
    color: #009CDE;
    cursor: default;
}

.main{
    height: 100vh;
    width: 100%;
}

.card{
    flex-grow: 1;
    min-height: 10rem;
    min-width: 40%;

    padding: 2rem;

    border: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    display: flex;
    justify-content: space-between;
}
.card h1{
    color: #001E44;
    font-size: x-large;
    font-weight: 1000;
}