@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../shared/fonts/Roboto-Regular.woff2");
}
@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"), url("../shared/fonts/Roboto-Bold.woff2");
}

:root {
  --navy: #001e44;
  --dark-navy: #262c3a;
  --blue: #1e407c;

  --creek: #3ea39e;
  --slate: #314e64;

  --bg-light-dim: #f5f5f5;
  --bg-light-bright: #ffffff;
}
body {
  margin: 0;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  background-color: var(--bg-light-dim);
}
.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section {
  overflow: auto;

  min-width: 50rem;
  max-width: 50rem;
  min-height: 30ch;
  max-height: 30ch;

  border-radius: 0.5rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;

  background-color: var(--bg-light-bright);
}
.section:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#drop_zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: dashed;
  border-color: var(--blue);
}

#upload-icon {
  filter: invert(18%) sepia(44%) saturate(2474%) hue-rotate(201deg)
    brightness(95%) contrast(89%);
  height: 5rem;
}
.file-upload-button {
  color: var(--blue);
  cursor: pointer;
  font-family: "Roboto Bold";
  text-decoration: underline;
}
.titlebar {
  font-family: "Roboto";
  margin-bottom: 4rem;
  width: 100%;
  background-color: var(--dark-navy);
  color: var(--bg-light-bright);
}
.titlebar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  gap: 1rem;
}
.titlebar img {
  height: 5rem;
}
.titlebar-container .header {
  font-size: 3rem;
}
.titlebar-container .subheader {
  font-size: 2rem;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
  overflow: hidden;
  border-spacing: 0px;
}

td,
th {
  text-align: left;
  padding: 8px;
}
th {
  background-color: var(--navy);
  color: var(--bg-light-bright);
}
th:first-child {
  border-radius: 0.5rem 0rem 0rem 0rem;
}
th:last-child {
  border-radius: 0rem 0.5rem 0rem 0rem;
}

tr:nth-child(even) {
  background-color: var(--bg-light-dim);
}

#export_button {
  background-color: var(--navy);
  color: var(--bg-light-bright);
  min-height: 0rem;
  font-size: 3rem;
  padding: 1rem 0rem 1rem 0rem;
  cursor: pointer;
}
#export_button:hover{
  background-color: var(--bg-light-bright);
  color: var(--navy);
}