/* Style the navigation bar */
.navbar {
    overflow: hidden;
    background-color: #001E44;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Add a hover effect to the links */
.navbar a:hover {
    color: #009CDE;
}

/* Add a selected tab effect to the links */
.navbar a.active {
    background-color: whitesmoke;
    color: #009CDE;
}

/* Style the navigation bar for small screens */
@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
    }
    .navbar a.active {
        background-color: whitesmoke;
        color: #009CDE;
    }
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0%;
    overflow-x: hidden;
    height: 100%;
    min-height: 100vh;
}

.content{
    margin-top: 30px;
    padding-top: 40px;
    width: 100%;
    height: 100%;
}

h1 {
    color: #006699;
    font-size: 36px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 20px auto;
    max-width: 90%;
    padding: 20px;
    margin-bottom: 5%;
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"], select {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;

    padding: 5px;

}

button {
    background-color: #006699;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 9px 15px;
}

button:hover {
    background-color: #005580;
}

.member-list {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 20px;
    padding: 20px;
}

.member-list h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.member-list ul {
    margin: 0;
    padding: 0;
}

.member-list li {
    font-size: 18px;
    list-style: none;
    margin-bottom: 10px;
}



/*==============================================*/

.fixed_header {
    width: 100%;
}

.fixed_header thead {
    table-layout: fixed;
    border-collapse: collapse;
    display: table-header-group;
}

.fixed_header tbody {
    overflow: auto;
}

.project-card {
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

td {
    padding: 20px;
    vertical-align: top;

}